.careers-hero {
  background: color(black);
  border-left: 0.1rem solid color(CIAred);
  overflow: hidden;

  &-content {
    @include maxWidthLg();
    @include twoColGrid();
    color: color(white);
    border-left: 0.1rem solid color(gray);
    padding: 0 2rem;

    .careers-hero-info {
      padding: 10rem 0;

      .careers-hero-desc {
        border-left: 0.1rem solid color(CIAred);
        padding-left: 1rem;
      }

      h1 {
        @include headingStyles();
        font-size: size(xxl) + 3rem;
      }

      h5 {
        @include headingStyles();
        font-size: size(md);
      }

      p {
        @include textStyles();
        font-size: size(xs);
      }

      small {
        @include textStyles();
        font-size: size(xxs);
      }

      .careers-hero-search {
        position: relative;

        input {
          font-size: size(md);
          padding: 1rem 2rem;
          width: 100%;
          background: transparent;
          border: 0;
          border-bottom: 0.1rem solid color(CIAred);
          color: color(white);
        }

        i {
          position: absolute;
          top: 3.7rem;
          right: 2rem;
          font-size: size(md);
          color: color(CIAred);
        }
      }
    }

    .hero-img {
      margin: -0.5rem;
    }

    img {
      border-left: 0.1rem solid color(gray);
      border-right: 0.1rem solid color(gray);
      padding-top: 15rem;

      @include responsive(lg) {
        padding-top: 5rem;
      }
    }
  }
}
