.why-work-at-cia {
  background: url("/img/careers/whyWorkAtCia.jpg") center center/cover no-repeat
    fixed;

  &-content {
    @include maxWidthSm();
    @include sectionSpacing();
    color: color(white);
    background-color: color(black);
    text-align: center;
    border-radius: 0.5rem;

    h2 {
      @include headingStyles();
      font-size: size(xxl) + 2rem;
    }

    p {
      @include textStyles();
      font-size: size(sm);
      width: 75%;
      margin: 0 auto;

      @include responsive(md) {
        width: 100%;
      }
    }
  }
}
