.agency {
  &-content {
    @include maxWidthLg();
    @include sectionSpacing();
    @include twoColGrid();

    &-img {
      order: -1;
      text-align: center;

      @include responsive(lg) {
        padding-bottom: 5rem;
      }

      img {
        width: 10rem;
      }

      h2 {
        @include headingStyles();
        font-size: size(xxl);
      }
    }

    &-info {
      border-left: 0.1rem solid color(black);
      border-right: 0.1rem solid color(black);
      padding: 0 2rem;

      h3 {
        @include headingStyles();
        font-size: size(xl);
      }

      p {
        @include textStyles();
        font-size: size(sm);
      }
    }
  }
}
