.factbook {
  background: #000;
  border-left: 0.1rem solid color(CIAred);

  &-content {
    @include sectionSpacing();
    @include maxWidthLg();
    @include twoColGrid();
    color: color(white);

    &-info {
      h2 {
        @include headingStyles();
        font-size: size(xxl);
      }

      p {
        @include textStyles();
        font-size: size(md);
      }
    }
  }
}
