.home-hero {
  background: color(black);
  border-left: 0.1rem solid color(CIAred);
  overflow: hidden;

  &-content {
    @include maxWidthLg();
    @include twoColGrid();
    color: color(white);
    border-left: 0.1rem solid color(gray);
    padding: 0 2rem;

    .home-hero-info {
      padding: 10rem 0;

      .home-hero-desc {
        border-left: 0.1rem solid color(CIAred);
        padding-left: 1rem;
      }

      h1 {
        @include headingStyles();
        font-size: size(xxl) + 3rem;
      }

      h5 {
        @include headingStyles();
        font-size: size(md);
      }

      p {
        @include textStyles();
        font-size: size(xs);
      }
    }

    .home-hero-img {
      margin: -0.5rem;
    }

    img {
      border-left: 0.1rem solid color(gray);
      border-right: 0.1rem solid color(gray);
      padding-top: 15rem;

      @include responsive(lg) {
        padding-top: 5rem;
      }
    }
  }
}
