.legacy {
  background: color(black);
  border-left: 0.1rem solid color(CIAred);

  &-content {
    @include maxWidthLg();
    @include sectionSpacing();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    color: color(white);

    &-img {
      text-align: center;

      img {
        width: 75%;
      }
    }

    &-info {
      border-left: 0.1rem solid color(gray);
      border-right: 0.1rem solid color(gray);
      padding: 0 2rem;

      h2 {
        @include headingStyles();
        font-size: size(xxl);
      }

      h4 {
        @include headingStyles();
        font-size: size(lg);
      }

      p {
        @include textStyles();
        font-size: size(sm);
      }
    }
  }
}
