$cardTransition: all 0.3s ease-in-out;

.stories {
  @include sectionSpacing();
  @include maxWidthLg();

  h2 {
    @include headingStyles();
    font-size: size(xxl);
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .stories-card {
    color: color(black);
    border: 0.2rem solid color(black);
    transition: $cardTransition;
    box-shadow: 0.1rem 0.1rem 1rem #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transition: $cardTransition;
    }

    &:hover,
    &:focus {
      border: 0.2rem solid color(CIAred);
      box-shadow: 0.1rem 0.1rem 1rem #f2f2f2;
      transition: $cardTransition;

      img {
        transform: scale(1.05);
      }

      p {
        color: color(CIAred);
        border-right: 0.2rem solid color(CIAred);
      }

      i {
        transform: rotate(0);
        color: color(CIAred);
      }

      h2 {
        color: color(CIAred);
      }

      .stories-card-footer {
        border-top: 0.2rem solid color(CIAred);
      }
    }

    &:focus {
      outline: 0;
    }

    &-info {
      padding: 2rem 2rem;

      h2 {
        @include headingStyles();
        font-size: size(xl);
        transition: $cardTransition;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 0.2rem solid color(black);
      transition: $cardTransition;

      p {
        @include textStyles();
        font-size: size(sm);
        border-right: 0.2rem solid color(black);
        padding: 1rem;
        transition: $cardTransition;
      }

      i {
        font-size: size(lg);
        transform: rotate(-45deg);
        padding: 1rem;
        transition: $cardTransition;
      }
    }
  }
}
