.what-is-cia {
  background-color: color(black);
  border-left: 0.1rem solid color(CIAred);

  &-content {
    @include maxWidthLg();
    @include twoColGrid();
    @include sectionSpacing();
    gap: 6rem;
    color: color(white);

    &-img {
      text-align: center;

      img {
        width: 75%;
      }
    }

    &-info {
      h2 {
        @include headingStyles();
        font-size: size(xxl) + 2rem;
      }

      p {
        @include textStyles();
        font-size: size(sm);
        border-left: 0.1rem solid color(CIAred);
        padding-left: 1rem;
      }
    }
  }
}
