.footer {
  background: color(black);
  border-top: 0.1rem solid color(gray);
  border-left: 0.1rem solid color(CIAred);
  position: relative;
  overflow-x: hidden;

  .footer-cia-bg {
    color: color(CIAred);
    opacity: 0.15;
    font-size: size(xxl) + 20rem;
    position: absolute;
    top: 15%;
    right: -6%;
    transform: rotate(-90deg);
    pointer-events: none;

    @include responsive(md) {
      right: -20%;
    }

    @include responsive(sm) {
      right: -30%;
    }
  }

  &-top {
    @include maxWidthLg();
    @include sectionSpacing();
    @include fourColGrid();

    border-left: 0.1rem solid color(gray);
    border-right: 0.1rem solid color(gray);

    h4 {
      @include headingStyles();
      color: color(white);
      font-size: size(lg);
    }

    .footer-link {
      margin: 2rem 0;
    }

    .footer-social-links {
      a {
        font-size: size(lg);
        color: color(white);
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: color(CIAred);
        }
      }
    }
  }

  &-bottom {
    @include maxWidthLg();
    @include sectionSpacing();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 0.1rem solid color(gray);
    border-left: 0.1rem solid color(gray);
    border-right: 0.1rem solid color(gray);

    .footer-btn-group {
      display: flex;
      flex-wrap: wrap;
    }

    .copyright {
      p {
        @include textStyles();
        color: color(white);
        font-size: size(xxs);
        padding-top: 2rem;
      }
    }
  }
}
