.innerpage-description {
  &-content {
    @include maxWidthLg();
    @include sectionSpacing();
    @include twoColGrid();
    gap: 6rem;

    &-left {
      border-left: 0.1rem solid color(black);
      padding-left: 1rem;

      h2 {
        @include headingStyles();
        font-size: size(lg);
      }
    }

    &-right {
      border-left: 0.1rem solid color(black);
      padding-left: 1rem;

      small {
        @include textStyles();
        font-size: size(xs);
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.1rem solid color(black);
      padding-bottom: 1rem;

      img {
        width: 5rem;
      }

      small {
        @include textStyles();
        font-size: size(xxs);
      }
    }
  }
}
