.innerpage-hero {
  background: color(black);
  border-left: 0.1rem solid color(CIAred);

  &-content {
    @include maxWidthLg();
    @include twoColGrid();
    color: color(white);
    gap: 6rem;
    padding: 10rem 2rem 0 2rem;

    &-info {
      h1 {
        @include headingStyles();
        font-size: size(xxl) + 4rem;
      }

      p {
        @include textStyles();
        font-size: size(md);
        border-left: 0.1rem solid color(CIAred);
        padding-left: 2rem;
      }
    }

    &-img {
      border-left: 0.1rem solid color(gray);
      border-right: 0.1rem solid color(gray);

      img {
        padding: 2rem;
      }
    }
  }
}
