.navbar {
  background: color(black);
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid color(gray);
  z-index: 500;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      img {
        width: 7rem;
      }
    }

    .navbar-links {
      display: flex;

      @include responsive(lg) {
        display: none;
      }

      .cia-link-light {
        margin: 1.5rem;
      }

      .navbar-link {
        @include headingStyles();
      }
    }
  }

  &.navbarScroll {
    padding: 0.5rem 0.5rem;
  }
}
