.section-dark {
  background-color: color(black);
  border-left: 0.1rem solid color(CIAred);

  &-content {
    @include maxWidthLg();
    @include twoColGrid();
    @include sectionSpacing();
    gap: 6rem;
    color: color(white);

    &-img {
      text-align: center;
    }

    &-info {
      h2 {
        @include headingStyles();
        font-size: size(xxl) + 2rem;

        @include responsive(sm) {
          font-size: size(xxl);
        }
      }

      p {
        @include textStyles();
        font-size: size(sm);
        border-left: 0.1rem solid color(CIAred);
        padding-left: 2rem;
      }

      ul {
        padding-left: 5rem;
        border-left: 0.1rem solid color(CIAred);
      }

      li {
        @include textStyles();
        font-size: size(xs);
        list-style: circle;
        padding: 1rem 0;
      }

      &-inner {
        border-left: 0.1rem solid color(CIAred);
        padding-left: 2rem;
      }
    }
  }
}
