@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

@mixin sectionSpacing() {
  padding: 5rem 2rem;
}

@mixin headingStyles() {
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

@mixin textStyles() {
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.7;
}

@mixin maxWidthLg() {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin maxWidthMd() {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin maxWidthSm() {
  max-width: 1000px;
  margin: 0 auto;
}

@mixin twoColGrid() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;

  @include responsive(lg) {
    grid-template-columns: 1fr;

    &-info {
      order: -1;
    }
  }
}

@mixin threeColGrid() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;

  @include responsive(lg) {
    grid-template-columns: 1fr;
  }
}

@mixin fourColGrid() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @include responsive(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(md) {
    grid-template-columns: 1fr;
  }
}

@mixin responsive($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1230px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 700px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 400px) {
      @content;
    }
  }
}
